body{
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

.switch-container{
    height: 100vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.switch-cover{
    height: 120px;
    width: 70px;
    background-color: grey;
    box-shadow: 0px 0px 5px darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
}

.screw{
    height: 4px;
    width: 4px;
    background-color: white;
    /* justify-content: center; */
    /* border-radius: 4%; */
    border-radius: 50%;
}

.switch{
    width: 60%;
    height: 60%;
    background-color: linear-gradient(darkgrey, grey);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 5px solid darkgray;
}

.on{
    background-color: linear-gradient(grey, darkgrey);
    border-bottom: 1px solid black;
    border-top: 5px solid darkgray;
}

.bulb-container{
    height: 100vh;
    width: 50%;

}

.wire{
    height: 200px;
    width: 10px;
    background: grey;
    margin: 0 auto;
}

.wire-connection{
    height: 15px;
    width: 15px;
    background-color: dimgrey;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -7px;
}

.socket-top{
    height: 20px;
    width: 50px;
    background-color: grey;
    margin: 0px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -1px;
    border: 1px solid black;
}

.socket-bottom{
    width: 50px;
    height: 40px;
    background-color: grey;
    margin: 0 auto;
}

.socket-back{
    height: 20px;
    width: 50px;
    background-color: grey;
    margin: 0 auto;
    opacity: 50%;
    border-radius: 50%;
    margin-top: -10px;
}

.bulb-top{
    height: 35px;
    width: 45px;
    background-color: white;
    margin: 0 auto;
    margin-top: -12px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bulb-bottom{
    height: 80px;
    width: 80px;
    background-color: white;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -10px;
}

.bulb-on{
    background-color: lightyellow;
    box-shadow: 0px 0px 100px 20px lightyellow;
}






